@model Emdad.Models.FormField

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FormField</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FormFieldId" />
            <div class="form-group">
                <label asp-for="SectorsServicesId" class="control-label"></label>
                <select asp-for="SectorsServicesId" class="form-control" asp-items="ViewBag.SectorsServicesId"></select>
                <span asp-validation-for="SectorsServicesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormFieldLabel" class="control-label"></label>
                <input asp-for="FormFieldLabel" class="form-control" />
                <span asp-validation-for="FormFieldLabel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormFieldName" class="control-label"></label>
                <input asp-for="FormFieldName" class="form-control" />
                <span asp-validation-for="FormFieldName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormFieldType" class="control-label"></label>
                <input asp-for="FormFieldType" class="form-control" />
                <span asp-validation-for="FormFieldType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FormFieldIsRequired" /> @Html.DisplayNameFor(model => model.FormFieldIsRequired)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDelete" /> @Html.DisplayNameFor(model => model.IsDelete)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreateId" class="control-label"></label>
                <input asp-for="CreateId" class="form-control" />
                <span asp-validation-for="CreateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditId" class="control-label"></label>
                <input asp-for="EditId" class="form-control" />
                <span asp-validation-for="EditId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditDate" class="control-label"></label>
                <input asp-for="EditDate" class="form-control" />
                <span asp-validation-for="EditDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
